* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "roboto";
}

header {
  /* height: 10vw; */
}

nav {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  padding-top: 2.656vw;
}
#navItems {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}
#logo {
  max-width: 100%;
  width: 13.542vw;
  align-self: center;
}

#cart_wishlist {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  align-self: center;
}
#cart_wishlist > a > img {
  margin-left: 2vw;
}
.mrgn {
  margin-left: var(--margin);
  margin-right: var(--margin);
}

h1 {
  font-size: var(--title-heading);
  margin-top: 17vw;
}

button {
  border: 2px solid var(--button-color);
  background-color: white;
  color: var(--button-color);
  height: var(--button-height);
  width: 14.948vw;
  font-size: var(--button-text);
  font-weight: 600;
}

/* Productlist */

.categoryH {
  letter-spacing: var(--spacing);
  font-size: var(--category-heading);
  font-weight: 500;
  margin-bottom: 5vw;
  text-align: center;
  margin-top: 5vw;
}

.productList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 5rem 0.8rem;
}

article {
  position: relative;
}

.product {
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgWrapper {
  position: relative;
}

.hidden {
  display: none;
}

article:hover a.productLink {
  display: block;
  background: var(--button-color);
  color: white;
  width: 100%;
  text-align: center;
  padding: 1rem;
  box-shadow: var(--shadow);
}

article:hover #img_02 {
  display: block;
}

article:hover #img_01 {
  display: none;
}

button.heart {
  position: absolute;
  top: 1em;
  right: 1em;
  background: url(../Assets/heart_btn_b.svg) no-repeat;
  width: 1.7rem;
  height: 1.7rem;
  background-size: 100%;
  cursor: pointer;
  border: none;
}

article:hover button.heart {
  background: url(../Assets/heart_btn_w.svg) no-repeat;
  background-size: 100%;
}

.colorVariants {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.variant {
  width: 1rem;
  height: 1rem;
  margin: 0.3rem;
  background-color: #d7ebf4;
  border-radius: 50px;
}
.productImage {
  width: 100%;
  margin-bottom: 1rem;
}

.product > h3 {
  margin: 0.5vw;
  font-size: 1rem;
  letter-spacing: var(--spacing);
}

.productTitle {
  text-transform: uppercase;
}

.productTitle {
  font-weight: 300;
}

/* Media queries */

@media screen and (max-width: 490px) {
  .productList {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .product > h3 {
    font-size: 0.8rem;
  }

  .variant {
    width: 0.8rem;
    height: 0.8rem;
    margin: 0.3rem;
  }
}
