body {
  margin: 0;
  font-family: "roboto";
}
header {
  background-image: url(BG.jpg);
  background-size: cover;
  height: 60vw;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  padding-top: 2.656vw;
}
#navItems {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}
#logo {
  max-width: 100%;
  width: 13.542vw;
  align-self: center;
}

#cart_wishlist {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  align-self: center;
}
#cart_wishlist > a > img {
  margin-left: 2vw;
}
.mrgn {
  margin-left: var(--margin);
  margin-right: var(--margin);
}

h1 {
  font-size: var(--title-heading);
  margin-top: 17vw;
}

#heading > p {
  width: 30vw;
  font-size: 1.719vw;
  font-weight: 300;
  margin-top: -2vw;
}

button {
  border: 2px solid var(--button-color);
  background-color: white;
  color: var(--button-color);
  height: var(--button-height);
  width: 14.948vw;
  font-size: var(--body-text);
  font-weight: 600;
}

/* CATEGORIES */

#categories {
  display: flex;
  position: relative;
  width: calc(100vw - var(--margin));
  height: 20vw;
  /*overflow: hidden;*/
}

.categoryBoxes {
  width: 20.833vw;
  height: 20.833vw;
  margin-right: 3vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#catbox1 {
  left: 0;
  background-color: #d7ebf4;
}

#catbox2 {
  left: 22vw;
  background-color: #e5f5eb;
}

#catbox3 {
  left: 44vw;
  background-color: #f6f6ce;
}

#catbox4 {
  left: 66vw;
  background-color: #ccebd9;
}

#catbox5 {
  left: 88vw;
  background-color: #d7ebf4;
}

#catbox6 {
  left: 110vw;
  background-color: #f6f6ce;
}

#catbox7 {
  left: 132vw;
  background-color: #;
}

/* NEW ARRIVALS*/

#newArrivals {
  margin-top: 30vw;
}
