body {
  margin: 0;
  font-family: "roboto";
}
header {
  background-image: url(BG.jpg);
  background-size: cover;
  height: 60vw;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  padding-top: 2.656vw;
}
#navItems {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

#navItems > a > li {
  padding-left: ;
}
a {
  text-decoration: none;
  color: black;
}
#logo {
  max-width: 100%;
  width: 13.542vw;
  align-self: center;
}

#cart_wishlist {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  align-self: center;
}
#cart_wishlist > a > img {
  margin-left: 2vw;
}
.mrgn {
  margin-left: var(--margin);
  margin-right: var(--margin);
}

h1 {
  font-size: var(--title-heading);
  margin-top: 17vw;
}

#heading > p {
  width: 30vw;
  font-size: 1.719vw;
  font-weight: 300;
  margin-top: -2vw;
}

button {
  border: 2px solid var(--button-color);
  background-color: white;
  color: var(--button-color);
  width: ;
  height: var(--button-height);
  width: 14.948vw;
  font-size: var(--body-text);
  font-weight: 600;
}
